<div class="row">
    <div class="col-xs-12">
       <div class="jumbotron">
           HEADER
           </div>
    </div>

</div>


<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Profile</p>
            </div>
        </div>
        
    </div>
    
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Yacks</p>
            </div>
        </div>
    </div>
    
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Find new foks!</p>
            </div>
        </div>
    </div>

</div>
<!-- begen left row 2 (this is the row under the to left panel) -->

<div class="row">
    <div class="col-xs-3 col-xs-offset-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Trending</p>
            </div>
        </div>
    
</div>

